


/*1 mercury*/
/*2 venus*/
/*3 earth*/
/*4 mars*/
/*5 jupiter*/
/*6 saturn*/
/*7 uranus*/
/*8 neptune*/

.mercury {
    fill: #3c3e47;
}


.venus {
    fill: #bd7e34;
}


.earth {
    fill: #2242aa;
}



.mars {
    fill: #ca3023;
}


.jupiter {
    fill: #ac9571;
}


.saturn {
    fill: #aa9949;
}


.uranus {
    fill: #53d89b;
}

.neptune {
    fill: #3bb3d6;
}

.pluto {
    fill: #aa6c94;
}
